<!doctype html>
<html>

<head>
    <title> InDesign Projects </title>
    <link rel=stylesheet href="../Final.css">
    <img src="../Layout/indesignbanner.png">
    <link href="https://fonts.googleapis.com/css?family=Lemon|Montserrat" rel="stylesheet">
</head>
    

<body>
   <p>
       <a href="Hobbs_Final.pdf"> Access InDesign Project Here </a>
    </p>
    <p> During this project, I created postcards using my new InDesign skills. I found this section to be very interesting and fun. I showcased my previous projects in my layout. Check it out! </p>
    <p>
        <a href="../index.html"> Home |</a>
        <a href="../Raster/photoshop.html"> Photoshop |</a>
        <a href="../Vector/illustrator.html"> Illustrator |</a>
        <a href="../Animation/animate.html"> Animate |</a>
        <a href="../Layout/indesign.html"> InDesign |</a>
        <a href="../HTML:CSS/htmlcss.html"> Web Development</a>
    </p>
</body>


</html>
